@media(max-width: 600px){
    .nav{
        justify-content: center;
        padding: 0;
        height: 80px;
    }
    .nav h1{
        display: none;
    }

    .nav .logo h1{
        display: initial;
        font-size: 6vw;
        line-height: 25px;
    }

    .nav button{
        display: none;
    }

    #menu-icon{
        display: initial;
        width: 40px;
        font-size: 6vw;
        font-weight: 700;
        position: absolute;
        right: 10px;
    }

    .bottom-scroller h1{
        font-size: 3vw;
    }

    .page1{
        padding: 0 6vw;
    }

    #meat-free{
        width: 60%;
        text-align: center;
        line-height: 110px;
        font-size: 30vw;
        top: 12%;
    }

    #your-mind{
        width: 60%;
        text-align: center;
        line-height: 110px;
        font-size: 30vw;
        top: 65%;
    }

    #thread{
        left: 40%;
        top: 18%;
    }

    #thread-left{
        height: 80px;
        left: -2%;
    }

    #thread-right{
        height: 80px;
        left: 85%;
    }

    #dash{
        display: none;
    }

    #sticker{
        height: 80px;
    }

    .page2{
        height: fit-content;
        position: relative;
    }

    .svg-container{
        position: absolute;
        top: 50%;
    }

    .infinite-scroller{
        height: 50px;
        position: absolute;
        top: 0;
    }

    .infinite-scroller img{
        height: 50px;
    }

    .page3{
        height: 60vh;
        flex-direction: column;
        justify-content: flex-start;
        gap: 0;
        padding: 0;
        padding-top: 50px;
    }

    .page3 .left, .page3 .right{
        height: 20%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
    }

    .page3 .left h1{
        font-size: 12vw;
        line-height: 45px;
        width: 70%;
    }

    .page3 .left p{
        width: 65%;
        font-size: 4vw;
        margin-top: 30px;
        font-family: "rubik narrow";
        position: absolute;
        top: 55%;
    }

    #thread2{
        display: none;
    }

    .page3 .right img{
        height: 150px;
    }
}